@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End position: normal position */
    }
}

@keyframes fadeInFromSides {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End position: normal position */
    }
}

.landing-page {
    display: flex;
    flex-direction: column;
    min-height: 95vh; /* Ensures the background covers the full viewport height */
    background: linear-gradient(to bottom, lightblue, rgb(189, 130, 238)); 
    background-size: cover; /* Ensures the gradient adjusts to fill the entire space */
    background-position: center;
}
.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    font-size: 45px;
    font-weight: 700;
    color: blueviolet;
    animation: fadeInFromRight 0.5s ease-in-out;
}

.image{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    align-items: center;
    background-size: cover;
    overflow: hidden;
    animation: fadeInFromRight 0.9s ease-in-out;
}

.image img {
    width: 60%;
    margin-left: 60px;
    align-items: left;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome{
    display: flex;
    justify-content: left;
    text-align: center;
    width: 20%;
    margin-left: 1px;
    font-size: 28px;
    font-weight: 700;
    background: rgb(255, 255, 255);
    animation: fadeInFromRight 1.5s ease-in-out;
}

.description{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-size: 17px;
    font-weight: 500;
    background: rgb(255, 255, 255);
    animation: fadeInFromRight 2s ease-in-out;
}

.submit-container{
    display: flex;
    gap: 100px;
    margin : 60px auto;
    animation: fadeInFromRight 2s ease-in-out;
    
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width:220px ;
    height: 60px;
    color: #fff;
    background: #5e23e7;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.gray{
    color: #fff;
    background: #5e23e7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}